.App {
  text-align: center;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header{
  background-color: red;
}
.main{
  display: flex;
  width: 50%;
  background-color: red;
  border: 3px solid black;
}
