.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main{
  display: flex;
  width: 50%;
  border: 3px solid black;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
